@media screen and (min-width: 768px) {
  body { 
    position: relative;
    padding-left: 71px;
   }

  .site-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #fff;
    display: grid;
    grid-template-rows: min-content;
  }

  .site-logo,
  .site-nav { position: static; }

  .site-logo {
    width: 1.65em;
    height: unset;
    padding: .4rem;
    justify-self: center;
  }

  .site-nav-item {
    float: unset;
    width: unset;
  }

  .movie-overview { display: block }
}

@media screen and (min-width: 992px) {
  .movie-overview {display: none}

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .movie:first-child { grid-column: 1 /span 3; }

  .movie:first-child .movie-overview { display: block; }
}


@media screen and (min-width: 1200px) {
  

  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .movie:first-child { 
    grid-column: 1 /span 4;
    text-align: center;
    font-size: 1.5em;
 }

  
  .movie:first-child .movie-poster {
    display: block;
    object-fit: contain;
  }

  .movie:first-child .movie-backdrop {
    height: 100%;
  }

  .movie:first-child .movie-image {
    overflow: hidden;
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 60vh;
    object-fit: fill;
  }
}
